{% extends 'base.html' %}
{% block title %}Error {{ code }}{% endblock %}
{% block public_content %}
<section class="auth-wrap">
    <div class="auth-card animate-pop center-text">
        <h1>{{ code }}</h1>
        <p>{{ message }}</p>
        <a href="{{ url_for('login') }}" class="primary-btn inline-btn">GO HOME</a>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="auth-wrap"><div class="auth-card center-text"><h1>{{ code }}</h1><p>{{ message }}</p></div></section>
{% endblock %}
{% block teacher_content %}
<section class="auth-wrap"><div class="auth-card center-text"><h1>{{ code }}</h1><p>{{ message }}</p></div></section>
{% endblock %}
